name: Soroban Tools e2e

on:
  push:
    branches: [main, release/**]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  run-system-test:
    # set the git ref of stellar/system-test after the '@'
    # to specify which version of the workflow to call
    uses: stellar/system-test/.github/workflows/test-workflow.yml@master
    with:
      stellar-rpc-repo: "${{ github.repository }}"
      stellar-rpc-ref: "${{ github.ref }}"
      # pinned system test version to master on Jan 13, 2026 until next rel tag is needed.
      system-test-git-ref: 789121c0914150a02122581f32ee62c4e42e1c84
      stellar-cli-repo: ""
      stellar-cli-ref: ""
      stellar-cli-crate-version: "23.4.1"
      rust-toolchain-version: stable
      js-stellar-sdk-npm-version: 14.4.2
      js-stellar-sdk-repo: ""
      js-stellar-sdk-ref: ""
      stellar-xdr-ref: v25.0.0
      stellar-core-ref: v25.0.0rc2
      horizon-ref: v25.0.0
      # pinned version to friendbot main on Jan 07, 2026 until a rel tag is needed.
      friendbot-ref: 323a7be8380f06356c6225942127e89ec41dc730
      lab-ref: main
      galexie-ref: "galexie-v25.1.0"
      protocol-version: 25
      soroban-examples-ref: v23.0.0
      soroban-examples-repo: stellar/soroban-examples
      test-filter: "^TestDappDevelop$/^.*$"
